@import "custom";

.interact {
  h3 {
    color: $defiant-blue;
    font-weight: bold;
  }

  img {
    width: 80px;
  }

  .interact-div {
    .interact-header {
      padding: 1.5rem;
      margin: 0.25rem 0.25rem;
      border: 1px solid $defiant-green;
      border-radius: 10px;
      font-weight: bold;
      justify-content: center;

      img {
        margin-right: 15px;
      }

      .value,
      .arbitrator {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p {
          margin-bottom: 0;
        }

        p.amount,
        p.address {
          color: $defiant-green;
        }

        p span {
          font-weight: normal;
        }
      }
    }
  }

  .interact-div,
  .interact-card {
    border: 1px solid gray;
    box-shadow: 5px 9px 4px 1px lightgrey;
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 2vh;
    background-color: $defiant-blue;

    div {
      background-color: transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $defiant-green;
    }

    * {
      color: white;
    }
  }

  .interact-body {
    padding: 1.5rem 1rem;
    border-radius: 10px;

    .col {
      flex-direction: column;
    }

    .party {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 10px;
      }

      p.role,
      p.address {
        font-weight: bold;
      }

      img.you {
        max-width: 80px;
      }
    }

    .transaction {
      background-color: white;
      border-radius: 10px;
      padding: 0.5rem 0.2rem;

      * {
        color: $defiant-blue;
      }

      .list-group {
        text-align: center;
      }

      .status {
        font-weight: bold;
        font-size: 120%;

        button.update-status {
          margin-right: 10px;
          background-color: $defiant-green;
          border-radius: 50%;
          border-width: 0;
          color: white;
          padding: 12px 15px;
        }
      }

      .no-status {
        margin-top: 10px;
        // font-weight: normal;
        font-style: italic;
        color: $defiant-green;
      }

      .suggestion {
        p.title {
          font-weight: bold;
        }
      }

      .powered-by {
        font-size: 80%;
        color: gray;

        img.kleros-logo {
          margin-left: 5px;
        }
      }
    }
  }
}