@import 'custom';

.menu {
  border: 1px solid gray;
  box-shadow: 5px 9px 4px 1px lightgrey;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 5vh;

  .escrow-interaction {
    .badge {
      white-space: normal;
    }
  }

  .menu-container {
    padding: 0px;
  }

  .new-transaction {
    background-color: $defiant-blue;
    border-radius: 10px;

    * {
      border-radius: 10px;
    }

    input,
    button {
      color: $defiant-blue;
    }

    div {
      background-color: transparent;
    }

    .card-title {
      font-weight: bold;
      color: $defiant-green;
    }

    button {
      background-color: $defiant-green;
      font-weight: bold;
    }

    .erc20-approve {
      background-color: $defiant-green;
      padding-top: 10px;
      color: $defiant-blue;

      .card-title {
        color: $defiant-blue;
        margin-bottom: 10px;
      }

      button {
        background-color: white;
        margin-left: 5px;
      }
    }
  }
}

.escrow-interaction {
  .card-title {
    color: $defiant-blue;
    font-weight: bold;
  }

  .find {
    margin-bottom: 8rem;
  }

  button {
    &.find-btn {
      background-color: $defiant-green;
      color: $defiant-blue;
      font-weight: bold;

    }
  }

}